Перечисляем файлы, которые мы не хотим добавлять в наш репозитой

build

node_modules

.env

это папки и файлы, которые содержат приватные данные и пароли,
а так же папки и файлы которые весят более 500 mb